
  <%- include ('../navbarpage/navbar') %>
  
  
  

  <table class="table table-hover table-responsive table-bordered">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email Address</th>
        <th scope="col">Role</th>
        <th scope="col">Organization</th>

        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody class="tbody">
    <% 
    if(userData.length!=0){
      var i=1;
      userData.forEach(function(users){
      %>
    <tr>

      <td><%=users.username %></td>
      <td><%=users.email %></td>
      <td><%=users.role.role %></td>
      <td><%=users.organization.name %></td>
      <td><a href="<%= link %><%=users.id%>">Edit</a></td>
      <td><a href="<%= linkDelete %><%=users.id%>">Delete</a></td>
    </tr>
    <%  i++; }) %>
    <% } else{ %>
    <tr>
      <td colspan="7">No Data Found</td>
    </tr>
  </tbody>
    <% } %>
  </table>

  
 
  <a href="/user/add" class="btn btn-primary" data-toggle="button"></type>
    Add User
   </a>
  <a href="/admin" class="btn btn-primary" data-toggle="button">Go Back</a>

</div>
</div>


<%- include ('../footerpage/footer') %>

