<%- include ('../navbarpage/navbar') %>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js" integrity="sha256-Dul4c09cdrWKXVtallPxF558lwxMwCC8dXJdZ0PVW54=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>


<div class="chart-container" style="position: relative; height:40vh; width:65vw">
  <canvas id="chart"></canvas>
</div>

<script>   
         

var ctx = document.getElementById('chart').getContext('2d');

    var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels:<%-JSON.stringify(labels)%>,
        datasets: [{
            label:<%-JSON.stringify(sensor)%>,
            data: <%-JSON.stringify(dataset)%>,
            backgroundColor: [
                // 'rgba(255, 99, 132, 0.2)',
                // 'rgba(54, 162, 235, 0.2)',
                // 'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                // 'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                // // 'rgba(54, 162, 235, 1)',
                // // 'rgba(255, 206, 86, 1)',
                // 'rgba(75, 192, 192, 1)',
                // 'rgba(153, 102, 255, 1)',
                // 'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true, 
        maintainAspectRatio: false,
        tooltips: {
           
        },
        hover: {
            mode: 'dataset',
            mode: 'point',
        },
        legend: {
            labels: {
            fontSize: 18
            }
        },
        title: {
            display: true,
            text: 'Measurements from sensor '
    },
        scales: {
            xAxes: [{
                
                scaleLabel: {
                    display: true,
                },
                ticks: {
                callback: function(value) { 
                return new Date(value).toLocaleDateString('dk-DK', {hour:'numeric', minute:'numeric'}); 
    },
},
        
     }],
            
            yAxes: [{
                
                ticks: {
                    beginAtZero: true
           
                }
            }],
            
        }
    }
    
});

</script>
<div>

</div>
<form>
    <div class="form-row" id="my-form-id">
        <div class="form-group col-md-6">
            <label>Sensor</label>
            <input type="number" class="form-control" id="sensor-id" placeholder="Sensor" >
        </div>
        <div class="form-group col-md-6">
            <label>Limit</label>
            <input type="number" class="form-control" id="new-limit" placeholder="Limit" >
        </div>
        <div class="form-group col-md-6">
            <label>Start Date</label>
            <input type="datetime-local" class="form-control" id="start-date" placeholder="Start Date" >
        </div>
        <div class="form-group col-md-6">
            <label>End Date</label>
            <input type="datetime-local" class="form-control" id="end-date" placeholder="End Date" >
        </div>
       
    </div>

    <div class="form-group col-md-6" >
    <button id="btn-send" type="submit" class="btn btn-primary" onclick="onDatesSubmitted()" value="Submit form">Send</button>
    </div>

</form>

<script>
    
    //connect to localhost
    // const socket = io.connect("localhost:2000");
    //Connec to public ip
    const socket = io.connect("http://35.228.37.83:80");
    function onDatesSubmitted() {
              
            const newSensor = $('#sensor-id').val();
            const newLimit = $('#new-limit').val();
            const startDate = $('#start-date').val();
            const endDate = $('#end-date').val()
            
            socket.emit( 'graphs', {startDate: startDate, endDate:endDate, newSensor:newSensor, newLimit: newLimit});
          
    }



    


</script>


<%- include ('../footerpage/footer') %>
